@model DetailsEmployeeDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editing The Employee</h1>

<form asp-action="Edit" method="post" class="row justify-content-center align-items-center">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="mx-auto w-75">
        <label class="form-label" asp-for="Code"></label>
        <input asp-for="Code" class="form-control w-100" required placeholder="Enter Code Here..." />

       

        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control w-100" required placeholder="Enter Name Here..." />

       



        <label class="form-label" asp-for="Description"></label>
        <input asp-for="Description" class="form-control w-100" required placeholder="Enter Description Here..." />

       


        <label class="form-label" asp-for="CreationDate"></label>
        <input asp-for="CreationDate" type="date" class="form-control w-100" required placeholder="Enter CreationDate Here..." />

       

        <input type="submit" value="Save" class="btn btn-outline-success my-2" />

        <a asp-action="Index" class="btn btn-light w-25 my-2">Back To List</a>
    </div>


</form>