@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<h1>Editing The Department</h1>

<partial name="Partials/CreateEditDepartmentFormPartial"></partial>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
